.App {
  text-align: center;
  position: absolute;
  width : 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
canvas {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  height : 100%;

}
body{
  margin: 0px;
  background-color: #222222;
  width: 100%;
  height : 100%;
}

h1{
  font-family: sans-serif;
  color: #d6d6d6;
  background-color: #fff8f800;
}
#container{
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.childgraph{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height:40%;
  z-index: 1;
  border: solid gray;
  background-color: #222222;
}
.nodedata{
  color: #222222
}

.parentlegend{
  position: absolute;
  color: white;
  background-color: #00000080 ;
  right: 0;
  width: 15%;
  height:20%
}
.circle{
  
  border-radius: 50%;
  width: 15px;
  height:15px;
  
  display:inline-block;
}

.legendtext{
  display:inline-block;
   margin-left: 10px
}
.childlegend{
  position: absolute;
  color: white;
  background-color: #00000080 ;
  right: 0;
  width: 20%;
  height:10%
}